<%= render "shared/header" %>
<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with model: @album, id: 'new_post', local: true do |f| %>
      <%= f.text_field :name, placeholder: "アルバム名" %>
       <div id="previews"></div>
       <%= f.file_field :image, id:"album-image" %>
      <%= f.submit "SEND" %>
    <% end %>
  </div>
</div>