<%= render "shared/header" %>

<%#アルバムの詳細%>
<div class="album-show">
  <div class ="album-name">
    <%=@album.name%>
    <%=link_to "削除", album_path(@album.id), method: :delete, class: "album-destroy"%>
    <%=link_to "編集", edit_album_path(@album.id),method: :get, class: "album-edit"%>
  </div>
      <%= image_tag @album.images[0], class: "main-image" %><br>
  <div class="other-images">
    <% @album.images[1..-1].each do |image| %>
      <div class="other-image">
        <%= image_tag image %>
      </div>
    <%end%>
  </div>
</div>