<%= render "shared/header" %>

<%#アルバムの詳細%>
<div class="album-show">
  <div class ="album-title">
    <%=@album.title%>
    <% if user_signed_in? && current_user.id == @album.user_id %>
    <%=link_to "削除", album_path(@album.id), method: :delete, class: "album-destroy"%>
    <%=link_to "編集", edit_album_path(@album.id),method: :get, class: "album-edit"%>
    <% end %>
  </div>
      <%= image_tag @album.images[0], class: "main-image" %><br>
  <div class="other-images">
    <% @album.images[1..-1].each do |image| %>
      <div class="other-image">
        <%= image_tag image %>
      </div>
    <%end%>
  </div>
</div>